service:
  name: db

plugins:
  - serverless-offline
  - serverless-webpack
  - serverless-stack-output

provider:
  name: aws
  runtime: nodejs6.10
  stage: ${opt:stage, 'dev'}
  region: us-east-1
  memorySize: 1024
  timeout: 60
  iamRoleStatements:
    - Effect: "Allow"
      Action:
        - "*"
      Resource: "*"

functions:
  status:
    handler: src/status.main
    events:
      - http:
          method: get
          path: /
          cors: true
          private: true
  skill:
    handler: src/skill.main
  device:
    handler: src/devicemanager.main
    events:
      - http:
          method: GET
          path: /device/
          cors: true
          private: true
      - http:
          method: POST
          path: /device/
          cors: true
          private: true
      - http:
          method: GET
          path: /device/{id}
          cors: true
          private: true
      - http:
          method: DELETE
          path: /device/{id}
          cors: true
          private: true

custom:
  output:
    file: stack.json # toml, yaml, yml, and json format is available

